In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/dataset_diabetes/diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
df_copy = df.copy()

In [4]:
df_copy.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

# Finding the most frequent in diag_1

In [5]:
df_copy['diag_1']

0         250.83
1            276
2            648
3              8
4            197
           ...
101761    250.13
101762       560
101763        38
101764       996
101765       530
Name: diag_1, Length: 101766, dtype: object

In [6]:
df_copy['diag_1'].mode()

0    428
Name: diag_1, dtype: object

In [7]:
val = df_copy['diag_1'].value_counts()
val

428    6862
414    6581
786    4016
410    3614
486    3508
       ...
373       1
314       1
684       1
217       1
V51       1
Name: diag_1, Length: 717, dtype: int64

# Finding the least frequent in diag_1

In [8]:
df_copy['diag_1'].value_counts().idxmin()

'84'

# Extracting the all the least frequent values in diag_1

In [9]:
least = val[val == val.min()]

In [10]:
least

84     1
833    1
391    1
605    1
381    1
      ..
373    1
314    1
684    1
217    1
V51    1
Name: diag_1, Length: 82, dtype: int64

In [11]:
least.index

Index(['84', '833', '391', '605', '381', '98', '690', '837', '145', '10', '97',
       '974', '839', '939', '895', '133', '649', '919', '903', '704', '365',
       '366', '299', 'V07', 'E909', '832', 'V70', '372', '543', '114', '523',
       '791', '804', '700', '955', '698', '318', '148', '870', '347', '375',
       '160', '982', '885', '471', '640', '477', '61', '671', '906', '216',
       '911', 'V43', '838', '834', '691', '250.51', 'V60', '817', '976', '325',
       '957', '363', '412', '389', '143', 'V25', '842', 'V67', '219', '988',
       '827', '994', '915', '207', '57', '637', '373', '314', '684', '217',
       'V51'],
      dtype='object')

# Another method

In [12]:
for i in val.iteritems():
    
    if (i[1] == 1):
        
        #print(i[0])
        pass

In [13]:
df_new = df_copy.drop(['weight', 'payer_code'], axis=1)

In [14]:
df_new

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,?,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,?,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,?,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,Surgery-General,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,?,...,No,No,No,No,No,No,No,No,No,NO

# EDA - pandas profiling for the new dataframe

In [15]:
from pandas_profiling import ProfileReport

C:\Users\DELL\AppData\Local\Temp\ipykernel_10788\2274191625.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [17]:
#profile = ProfileReport()
#profile.df = df_new
#profile.to_file("level_2_EDA_report.html")

# Getting the repeated values in the patient number

In [21]:
val = df_new['patient_nbr'].value_counts()
val

88785891     40
43140906     28
1660293      23
88227540     23
23199021     23
             ..
11005362      1
98252496      1
1019673       1
13396320      1
175429310     1
Name: patient_nbr, Length: 71518, dtype: int64

# Retriving the pateint number readmitted

In [23]:
val[val != 1]

88785891    40
43140906    28
1660293     23
88227540    23
23199021    23
            ..
239535       2
44895969     2
85504905     2
39987954     2
92028474     2
Name: patient_nbr, Length: 16773, dtype: int64